p {
  color: tomato;
  font-size: 14;
}
a{
    color:aliceblue;
}

small {
  color: blue;
}
h1 {
  color: white;
  font-size: 50px;
}

h3 {
  color: white;
  font-size: 30px;
}
* {
  background: black;
  font-family: "Courier New", Courier, monospace;
}
